# Ambientes Virtuais
venv/
env/
.venv/

# Arquivos de Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de Configuração Local e Segredos
.env
.env.local
.env.*.local

# Arquivos de IDE
.vscode/
.idea/

# Logs
*.log

# Arquivos Estáticos e de Mídia (gerados em runtime)
staticfiles/
media/

# Banco de dados local (caso use SQLite)
*.sqlite3

# Docker
*.pid
*.sock
*.tar
docker-compose.override.yml
Docker-compose.override.yml
postgres_data/
__data__/
*.db

# Compilações / builds
build/
dist/
*.egg-info/

# Sistema operacional
.DS_Store
Thumbs.db

# Test coverage reports
htmlcov/
.coverage